.favButton {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #c513af;
  background-color: lightgray;
  cursor: pointer;
  padding: 4px;
  border-radius: 5px;
  margin-top: 5px;
  width: 100%;
}

.fas.fa-star {
  margin-right: 3px;
}

.noBook {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  color: black;
  font-size: 30px;
  background-color: rgb(178, 183, 209);
}
.noBook span {
  text-align: center;
}

.detailSection {
  margin: 0 auto;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.detailedCourse {
  margin: 10px auto;
  padding: 5px;
}
.unfaved,
.faved {
  cursor: pointer;
}
