.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  font-size: 11px;
  color: rgb(105, 102, 102);
  font-family: 'Source Sans Pro', sans-serif;
  z-index: 500;
}

.footer-element {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.fas {
  color: #969494;
  font-size: 18px;
}
.fas.fa-plus-circle {
  font-size: 30px;
  color: #c513af;
}
