.formArea {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 100px auto;
  justify-content: space-between;
  height: 180px;
  padding: 10px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.formButton {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #c513af;
  width: 100%;
  background-color: #a7a9ac;
  height: 30px;
  font-weight: bold;
  font-size: large;
}

input {
  width: 100%;
  color: #c513af;
  background-color: #a7a9ac;
  height: 30px;
  font-weight: bold;
  font-size: large;
  font-family: 'Lato', sans-serif;
}

.signUpArea {
  height: 320px;
  margin: 50px auto;
}

.error-field {
  padding: 0 0 3px 0;
  color: #774242;
  display: flex;
  align-items: center;
  border: 1px solid #d86262;
  background-color: #c07f7f;
  font-family: 'Lato', sans-serif;
  font-size: 13px;
  margin: 3px 0 15px 0;
}
