@import './login';
@import './navbar';
@import './selectbox';
@import './footer';
@import './course';
@import './courseDetail';
@import './flash';
@import './filterCourses';
* {
  box-sizing: border-box;
}
.main {
  min-height: 170vh;
}
.footer {
  position: fixed;
  bottom: 0;
}
.courseList {
  background-color: #f9f9f9;
  margin-top: 10px;
  padding: 5px 5px 5px 6px;
  border-radius: 5px;
}
